<%= content_for :head do %>
  <%= stylesheet_link_tag 'bootstrap-datepicker/bootstrap-datepicker3.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'register', 'data-turbolinks-track' => true %>

  <style>
    
  </style>
<% end %>

<section class="cover fullscreen image-bg overlay">
  <div class="background-image-holder">
    <%= image_tag "home2.jpg", class:"background-image", alt:"image" %>
  </div>
  <div class="container v-align-transform">
    <div class="row">
      <section>
        <div class="col-sm-6 col-sm-offset-3">
          <div class="feature bordered text-center">
            <h4 class="uppercase">Register Here</h4>
            <%= form_for(resource, html: { class: 'text-left' }, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= fields_for :ambassador do |ff| %>
                <%= devise_error_messages! %>
                <%= flash[:error] %>

                <p class="group-tag">Identity</p>
                <div class="row">
                  <div class="col-sm-7">
                    <%= f.email_field :email, placeholder: "Email Address", autofocus: true, class:"input-control", value: @ambassador.email %>
                  </div>
                  <div class="col-sm-5">
                    <%= ff.telephone_field :phone, placeholder: "Phone Number", class:"input-control" %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <%= ff.text_field :fname, placeholder: "First Name", class:"input-control" %>
                  </div>
                  <div class="col-sm-6">
                    <%= ff.text_field :lname, placeholder: "Last Name", class:"input-control" %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-5">
                    <%= ff.text_field :dob, placeholder: 'Date of Birth', data: { provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-end-date': "+0d", 'date-start-view': 2 }, class: 'input-control' %>
                  </div>
                  <div class="col-sm-7">
                    <%= text_field_tag :ssn_last_4, '', placeholder: "Last 4 Of SSN", class:"input-control", maxlength: 4 %>
                    <i class="help ti ti-help" data-toggle="tooltip" data-placement="right"
                    title="This is used to verify your identity information and is not stored on our servers."></i>
                  </div>
                </div>

                <p class="group-tag mt16">Address</p>
                <div class="row">
                  <div class="col-sm-7">
                    <%= ff.text_field :street, placeholder: "Street", class:"input-control" %>
                  </div>
                  <div class="col-sm-5">
                    <%= ff.text_field :city, placeholder: "City", class:"input-control" %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-7">
                    <%= ff.select :state, options_for_select(us_states), {include_blank: true}, { class:'', 'data-placeholder':'Select a State...' } %>
                  </div>
                  <div class="col-sm-5">
                    <%= ff.text_field :zip, placeholder: "Zip Code", class: 'input-control' %>
                  </div>
                </div>

                <p class="group-tag mt16">Security</p>
                <%= f.password_field :password, placeholder: "Password (#{@minimum_password_length} characters minimum)", class:"group-elem input-control", autocomplete: "off" %>
                <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off", class: 'input-control' %>

                <p class="group-tag mt16">Referred By A Member?</p>
                <%= text_field_tag :referrer_token, @ambassador.parent.try(:token), placeholder: "Enter Their Referral Token", readonly: !@ambassador.parent.nil?, class: 'input-control' %>

                <%= hidden_field_tag 'registration_token', params[:registration_token] %>
                <%= hidden_field_tag 'id', params[:id] %>

                <%= hidden_field_tag 'token' %>
                <%= hidden_field_tag 'plan_id' %>

                <%#= f.submit "Register" %>
                <input type="submit" id="register-btn" value="Register" class="mb0 mt32"/>

                <p class="text-center">
                  By registering your account, you agree to our
                  <a href="#" target="_blank">Terms Of Use</a>
                  <br />
                  and the
                  <a href="https://stripe.com/us/terms" target="_blank">Stripe Connected Account Agreement</a>
                  .
                </p>
                <hr />
                <%= render "accounts/shared/links" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<%= content_for :js_includes do  %>
  <%= javascript_include_tag 'bootstrap-datepicker/bootstrap-datepicker.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.scrollintoview/jquery.scrollintoview.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'register.js', 'data-turbolinks-track' => true %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
<% end %>
