<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title(@title) %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="Marmaris ODH Project" />
  <meta name="keywords" content="ODH,marmaris,dashboard" />
  <meta name="author" content="Marmaris" />
  <%= favicon_link_tag 'favicon.png' %>

  <!-- Font -->
  <%#= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200italic,200' %>
</head>

<% if false %>
<body>
  <!--  preloader start -->
  <div id="tb-preloader">
    <div class="tb-preloader-wave"></div>
  </div>
  <!-- preloader end -->

  <div class="wrapper" id="home">
    <!-- header start-->
    <header class="header-full-width transparent-header ha-header ha-header-large" id="header">
      <div class="ha-header-perspective">
        <div class="ha-header-front">
          <div class="header-sticky light-header nav-boxed-color">
            <div class="container">
              <div class="menuzord" id="massive-menu">
                <!--logo start-->
                <%= link_to unauthenticated_path, class: 'logo-brand', 'data-no-turbolink': true do %>
                  <%= image_tag "https://storage.googleapis.com/siteassets/rsz_logo.png", alt:"", class:"retina", style:"width:200" %>
                <% end %>
                <!--logo end-->

                <!--mega menu start-->
                <ul class="menuzord-menu pull-right op-nav">
                  <li class="active">
                    <a href="#fullscreen-banner"></a>
                  </li>
                  <li class="">
                    <a href="#membership">THE MEMBERSHIP</a>
                  </li>
                  <li class="">
                    <a href="#experiences">THE EXPERIENCE</a>
                  </li>
                  <li class="">
                    <%= link_to "JOIN US", new_account_session_path, 'data-no-turbolink': true %>
                  </li>
                  <li class="">
                    <a href="#console">MY CONSOLE</a>
                  </li>
                </ul>
                <!--mega menu end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--header end-->

    <section id="fullscreen-banner" class="video-parallax overlay-background vertical-align text-center">
      <div class="overlay-block"></div>

      <!--video source start-->
      <%= video_tag "https://storage.googleapis.com/siteassets/home.mp4", loop:"", autoplay: "", muted: "", preload:"auto", poster:"videos/lasvegas-poster.jpg" %>
      <!--video source end-->

      <div class="container-mid">
        <div class="container">
          <div class="banner-box">
            <h1 class="text-uppercase light-txt">INFINITE ACCESS</h1>
            <h3 class="text-uppercase light-txt">JOIN US FOR UNPARALLELED ACCESS TO EVENTS, TICKETS, ATHLETES, AND CELEBRITIES</h3>
          </div>
        </div>
      </div>
    </section>

    <h2>INFINITE ACCESS</h2>


    <p class="light-txt">
      In joining us you gain
      unparalleled access to events, tickets,
      athletes and celebrities.
    </p>
    <a href="#">Contact Us &gt;</a>
    <!--body content start-->


    <section class="body-content">
      <div class="page-content" id="membership">
        <div class="container">
          <div class="row">
            <!--feature border box start-->

            <div class="feature-box-grid">
              <div class="heading-title text-center">
                <h3 class="text-uppercase">THE MEMBERSHIP</h3>
              </div>

              <div class="col-md-3">
                <div class="featured-item border-box text-center">
                  <div class="icon fa fa-users" style="font-style: italic">
                  </div>


                  <div class="title text-uppercase">
                    <h4>Sports Pools</h4>
                  </div>


                  <div class="desc">
                    Gain access to some of the most
                    competitive pools in Pro and College
                    sports -- survive and win the greatest
                    sports experience of your life.
                  </div>
                </div>
              </div>


              <div class="col-md-3">
                <div class="featured-item border-box text-center">
                  <div class="icon fa fa-star" style="font-style: italic">
                  </div>


                  <div class="title text-uppercase">
                    <h4>VIP ACCESS</h4>
                  </div>


                  <div class="desc">
                    Fringilla augue at maximus vestibulum.
                    Nam pulvinar vitae neque et porttitor.
                    Praesent sed nisi eleifend.
                  </div>
                </div>
              </div>


              <div class="col-md-3">
                <div class="featured-item border-box text-center">
                  <div class="icon fa fa-database" style="font-style: italic">
                  </div>


                  <div class="title text-uppercase">
                    <h4>WINNINGS</h4>
                  </div>


                  <div class="desc">
                    Fringilla augue at maximus vestibulum.
                    Nam pulvinar vitae neque et porttitor.
                    Praesent sed nisi eleifend.
                  </div>
                </div>
              </div>


              <div class="col-md-3">
                <div class="featured-item border-box text-center">
                  <div class="icon fa fa-user-plus" style="font-style: italic">
                  </div>


                  <div class="title text-uppercase">
                    <h4>REFERALLS</h4>
                  </div>


                  <div class="desc">
                    Fringilla augue at maximus vestibulum.
                    Nam pulvinar vitae neque et porttitor.
                    Praesent sed nisi eleifend.
                  </div>
                </div>
              </div>
            </div>
            <!--feature border box end-->
          </div>
        </div>
      </div>
    </section>
  </div>


  <div class="fun-factor-parallax dark parallax-hot" id="pools">
    <div class=" p-tb-150">
      <div class="container">
        <div class="heading-title text-center">
          <h3 class="text-uppercase light-txt">
            Time till next pick
          </h3>


          <p class="half-txt light-txt">
            Believe us we really mean it
          </p>
        </div>


        <div class="row">
          <div class="col-md-3">
            <div class="fun-factor">
              <div class="icon icon-happy" style="font-style: italic">
              </div>


              <div class="fun-info">
                <h1 class="timer theme-color" data-from="0" data-speed="1000" data-to="36">36</h1>
                <span>NCAA FOOTBALL</span>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="fun-factor">
              <div class="icon icon-happy" style="font-style: italic">
              </div>


              <div class="fun-info">
                <h1 class="timer theme-color" data-from="0" data-speed="1000" data-to="36">36</h1>
                <span>PRO FOOTBALL</span>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="fun-factor">
              <div class="icon icon-flag" style="font-style: italic">
              </div>


              <div class="fun-info">
                <h1 class="timer theme-color" data-from="0" data-speed="1000" data-to="29">29</h1>
                <span>MARCH MADNESS</span>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="fun-factor">
              <div class="icon icon-ribbon" style="font-style: italic">
              </div>


              <div class="fun-info">
                <h1 class="timer theme-color" data-from="0"data-speed="1000" data-to="17">17</h1>
                <span>Design Award Won</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container" id="experiences">
    <div class="heading-title text-center">
      <h3 class="text-uppercase">THE EXPERIENCES</h3>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <ul class="portfolio-filter">
            <li class="active">
              <a class="current" data-filter="*" href="#">All</a>
            </li>

            <li>
              <a data-filter=".cat1" href="#">FOOTBALL</a>
            </li>

            <li>
              <a data-filter=".cat2" href="#">BASKETBALL</a>
            </li>

            <li>
              <a data-filter=".cat3" href="#">GOLF</a>
            </li>

            <li>
              <a data-filter=".cat4" href="#">RACING</a>
            </li>

            <li>
              <a data-filter=".cat5" href="#">RETREATS</a>
            </li>
          </ul>
        </div>

        <div class="portfolio col-4" style="position: relative; height: 416px;">
          <div class="portfolio-item cat1 cat3" style="position: absolute; left: 0px; top: 0px;">
            <div class="thumb">
              <%= image_tag 'portfolio/01.jpg' %>

              <div class="portfolio-hover">
                <div class="action-btn">
                  <a class="popup-link icon-basic_magnifier" href="img/portfolio/01.jpg" style= "font-style: italic" title= "lightbox view"></a>
                </div>

                <div class="portfolio-description">
                  <h4>
                    <a class="popup-link" href="img/portfolio/01.jpg" title="lightbox view">lightbox view</a>
                  </h4>

                  <p>
                    <a href="#">category</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="portfolio-item cat2 cat4" style="position: absolute; left: 277px; top: 0px;">
            <div class="thumb">
              <%= image_tag 'portfolio/02.jpg' %>

              <div class="portfolio-hover">
                <div class="action-btn">
                  <a class="icon-basic_link" href="portfolio-single.html" style="font-style: italic"></a>
                </div>

                <div class="portfolio-description">
                  <h4><a href="portfolio-single.html">External link</a>
                  </h4>

                  <p>
                    <a href="#">category 1</a>
                    ,
                    <a href="#">category 2</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="portfolio-item cat1 cat2" style="position: absolute; left: 554px; top: 0px;">
            <div class="thumb">
              <div class="portfolio-slider">
                <div class="flex-viewport" style="overflow: hidden; position: relative; height: 208px;">
                  <ul class="slides" style="height: 1200%; position: absolute; width: 100%; transition-duration: 0.6s; transform: translate3d(0px, -624px, 0px);">
                    <li class="clone" style="display: block;">
                      <a href="img/portfolio/07c.jpg" title="Amazing Theme">
                        <%= image_tag 'portfolio/07c.jpg', draggable: 'false' %>
                      </a>
                    </li>

                    <li class="" style="display: block;">
                      <a href="img/portfolio/07.jpg" title="Freshness Photo">
                        <%= image_tag 'portfolio/07.jpg', draggable: 'false' %>
                      </a>
                    </li>

                    <li class="" style="display: block;">
                      <a href="img/portfolio/07a.jpg" title="Awesome Lightbox">
                        <%= image_tag 'portfolio/07a.jpg', draggable: 'false' %>
                      </a>
                    </li>

                    <li class="flex-active-slide" style="display: block;">
                      <a href="img/portfolio/07b.jpg" title="Massive UI Components">
                        <%= image_tag 'portfolio/07b.jpg', draggable: 'false' %>
                      </a>
                    </li>

                    <li class="" style="display: block;">
                      <a href="img/portfolio/07c.jpg" title="Amazing Theme">
                        <%= image_tag 'portfolio/07c.jpg', draggable: 'false' %>
                      </a>
                    </li>

                    <li class="clone" style="display: block;">
                      <a href="img/portfolio/07.jpg" title="Freshness Photo">
                        <%= image_tag 'portfolio/07.jpg', draggable: 'false' %>
                      </a>
                    </li>
                  </ul>
                </div>

                <ol class="flex-control-nav flex-control-paging">
                  <li>
                    <a class="">1</a>
                  </li>

                  <li>
                    <a class="">2</a>
                  </li>

                  <li>
                    <a class="flex-active">3</a>
                  </li>

                  <li>
                    <a class="">4</a>
                  </li>
                </ol>


                <ul class="flex-direction-nav">
                  <li class="flex-nav-prev">
                    <a class="flex-prev" href="#">Previous</a>
                  </li>

                  <li class="flex-nav-next">
                    <a class="flex-next" href="#">Next</a>
                  </li>
                </ul>
              </div>


              <div class="portfolio-hover">
                <div class="action-btn">
                  <a class="icon-basic_magnifier" href="#" style="font-style: italic"></a>
                </div>

                <div class="portfolio-description">
                  <h4>
                    <a href="#">lightbox Gallary</a>
                  </h4>


                  <p>
                    <a href="#">category</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="portfolio-item cat1 cat4" style="position: absolute; left: 831px; top: 0px;">
            <div class="thumb">
              <%= image_tag 'portfolio/03.jpg' %>

              <div class="portfolio-hover">
                <div class="action-btn">
                  <a class="popup-vimeo icon-arrows_keyboard_right" href="https://vimeo.com/45830194" style="font-style: italic"></a>
                </div>

                <div class="portfolio-description">
                  <h4>
                    <a class="popup-vimeo" href="https://vimeo.com/45830194">Video lightbox</a>
                  </h4>

                  <p>
                    <a href="#">category</a>
                  </p>
                </div>
              </div>
            </div>
          </div>


          <div class="portfolio-item cat2 cat4" style="position: absolute; left: 0px; top: 208px;">
            <div class="thumb">
              <%= image_tag 'portfolio/04.jpg' %>

              <div class="portfolio-hover">
                <div class="action-btn">
                  <a class="popup-link icon-basic_magnifier" href="img/portfolio/04.jpg" style="font-style: italic" title="lightbox view"></a>
                </div>


                <div class="portfolio-description">
                  <h4>
                    <a class="popup-link" href="img/portfolio/04.jpg" title="lightbox view">lightbox view</a>
                  </h4>

                  <p>
                    <a href="#">category 3</a>
                    ,
                    <a href="#">category 4</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="portfolio-item cat3" style="position: absolute; left: 277px; top: 208px;">
            <div class="thumb">
              <%= image_tag 'portfolio/05.jpg' %>

              <div class="portfolio-hover">
                <div class="action-btn">
                  <a class="icon-basic_link" href="portfolio-single.html" style="font-style: italic"></a>
                </div>

                <div class="portfolio-description">
                  <h4>
                    <a href="portfolio-single.html">External link</a>
                  </h4>

                  <p>
                    <a href="#">category</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="portfolio-item cat2 cat5" style="position: absolute; left: 554px; top: 208px;">
            <div class="thumb">
              <div class="portfolio-slider-alt">
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                  <ul class="slides" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-554px, 0px, 0px);">
                    <li class="clone" style="width: 277px; float: left; display: block;">
                      <a href="img/portfolio/08b.jpg" title="Bootstrap">
                        <%= image_tag 'portfolio/08b.jpg', draggable: 'false' %>
                      </a>
                    </li>

                    <li class="" style="width: 277px; float: left; display: block;">
                      <a href="img/portfolio/08.jpg" title="Freshness">
                        <%= image_tag 'portfolio/08.jpg', draggable: 'false' %>
                      </a>
                    </li>

                    <li class="flex-active-slide" style="width: 277px; float: left; display: block;">
                      <a href="img/portfolio/08a.jpg"title="Massive">
                        <%= image_tag 'portfolio/08a.jpg', draggable: 'false' %>
                      </a>
                    </li>

                    <li class="" style="width: 277px; float: left; display: block;">
                      <a href="img/portfolio/08b.jpg" title="Bootstrap">
                        <%= image_tag 'portfolio/08b.jpg', draggable: 'false' %>
                      </a>
                    </li>

                    <li class="clone" style="width: 277px; float: left; display: block;">
                      <a href="img/portfolio/08.jpg" title="Freshness">
                        <%= image_tag 'portfolio/08.jpg', draggable: 'false' %>
                      </a>
                    </li>
                  </ul>
                </div>

                <ol class="flex-control-nav flex-control-paging">
                  <li>
                    <a class="">1</a>
                  </li>

                  <li>
                    <a class="flex-active">2</a>
                  </li>

                  <li>
                    <a class="">3</a>
                  </li>
                </ol>

                <ul class="flex-direction-nav">
                  <li class="flex-nav-prev">
                    <a class="flex-prev" href="#">Previous</a>
                  </li>

                  <li class="flex-nav-next">
                    <a class="flex-next" href="#">Next</a>
                  </li>
                </ul>
              </div>

              <div class="portfolio-hover">
                <div class="action-btn">
                  <a class="icon-basic_magnifier" href="#"style="font-style: italic"></a>
                </div>

                <div class="portfolio-description">
                  <h4>
                    <a href="#">lightbox gallery</a>
                  </h4>

                  <p>
                    <a href="#">category</a>
                  </p>
                </div>
              </div>
            </div>
          </div>


          <div class="portfolio-item cat1 cat4 cat3 cat5" style="position: absolute; left: 831px; top: 208px;">
            <div class="thumb">
              <%= image_tag 'portfolio/06.jpg' %>

              <div class="portfolio-hover">
                <div class="action-btn">
                  <a class="popup-link icon-basic_magnifier" href="img/portfolio/06.jpg" style="font-style: italic" title="lightbox view"></a>
                </div>

                <div class="portfolio-description">
                  <h4>
                    <a class="popup-link" href="img/portfolio/06.jpg" title="lightbox view">lightbox view</a>
                  </h4>

                  <p>
                    <a href="#">category 5</a>
                    ,
                    <a href="#">category 6</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section class="body-content">
    <div class="page-content" id="join">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="heading-title-alt text-left heading-border-bottom" style="center">
              <h5 class="text-uppercase">
                DON’T YOU HAVE AN ACCOUNT?
                <span class="theme-color">REGISTER NOW</span>
              </h5>
            </div>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Unde, vel odio non dicta provident sint ex autem
              mollitia dolorem illum repellat ipsum aliquid illo.
            </p>

            <form action="#" class=" login magazine-grid" method="post">
              <div class="row">
                <div class="form-group col-md-6">
                  <input class="form-control" placeholder="Name" type="text">
                </div>


                <div class="form-group col-md-6">
                  <input class="form-control" placeholder="Email" type="text">
                </div>


                <div class="form-group col-md-6">
                  <input class="form-control" placeholder="User Name" type="text">
                </div>


                <div class="form-group col-md-6">
                  <input class="form-control" placeholder="Phone" type="text">
                </div>


                <div class="form-group col-md-6">
                  <input class="form-control" placeholder="Choose Password" type="password">
                </div>


                <div class="form-group col-md-6">
                  <input class="form-control" placeholder="Confirm Password" type="password">
                </div>


                <div class="form-group col-md-12">
                  <button class="btn btn-small btn-dark-solid full-width btn-rounded" id="login-form-submit" name="login-form-submit" value="login">Register</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--body content end-->
  <!--footer 1 start -->


  <footer class="dark footer-4" id="footer">
    <div class="container">
      <div class="f-logo-center">
        <a class="footer-logo" href="index.html">
          <%= image_tag "https://storage.googleapis.com/siteassets/rsz_logo.png", alt:"", class:"retina" %>
        </a>
      </div>


      <div class="col-md-6">
        <div class="copyright">© MASSIVE 2014.</div>


        <div class="copyright-sub-title text-uppercase">
          Building your site with lots of fun
        </div>
      </div>


      <div class="col-md-6">
        <div class="social-link pull-right circle">
          <a class="fa fa-facebook" href="#" style="font-style: italic"></a>
          <a class="fa fa-twitter" href="#"style="font-style: italic"></a>
          <a class="fa fa-dribbble"href="#" style="font-style: italic"></a>
          <a class="fa fa-google-plus" href="#" style="font-style: italic"></a>
          <a class="fa fa-behance" href="#"style="font-style: italic"></a>
        </div>
      </div>
    </div>
  </footer>
  <!--footer 1 end-->
  <!-- Placed js at the end of the document so the pages load faster -->
  <%= javascript_include_tag 'menuzord', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.flexslider-min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'owl.carousel.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.isotope', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'imagesloaded', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.magnific-popup.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.countTo', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'visible', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'smooth', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'wow.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.nav', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'scripts', 'data-turbolinks-track' => true %>

</body>
</html>
<% end %>
<body class="nav-is-overlay">
    <div class="nav-container" style="min-height: 55px;">
        <a id="top"></a>

        <nav class="">
            <div class="nav-utility">
                <div class="module left">
                    <i class="ti-location-arrow">&nbsp;</i> <span class="sub">68 Cardamon Place, Melbourne Vic 3000</span>
                </div>


                <div class="module left">
                    <i class="ti-email">&nbsp;</i> <span class="sub">hello@foundry.net</span>
                </div>


                <div class="module right">
                    <a class="btn btn-sm" href="http://themeforest.net/item/foundry-multipurpose-html-variant-page-builder/11562108?ref=medium_rare">
                    Buy Now</a>
                </div>
            </div>


            <div class="nav-bar">
                <div class="module left">
                    <a href="index.html"><img alt="Foundry" class="logo logo-light" src="img/logo-light.png"> <img alt="Foundry" class="logo logo-dark" src="img/logo-dark.png"></a>
                </div>


                <div class="module widget-handle mobile-toggle right visible-sm visible-xs ti-menu" style="font-style: italic">
                </div>


                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li class="has-dropdown">
                                <a href="#">Home</a>

                                <ul class="mega-menu">
                                    <li>
                                        <ul>
                                            <li><span class="title">Concepts</span>
                                            </li>


                                            <li>
                                                <a href="home-adventure.html">Adventure
                                                Travel</a>
                                            </li>


                                            <li>
                                                <a href="home-agency.html">Agency</a>
                                            </li>


                                            <li>
                                                <a href="home-app-landing.html">App
                                                Landing</a>
                                            </li>


                                            <li>
                                                <a href="home-app-landing-2.html">App
                                                Landing 2</a>
                                            </li>


                                            <li>
                                                <a href="home-capital-firm.html">Capital
                                                Firm</a>
                                            </li>


                                            <li>
                                                <a href="home-fitness.html">Fitness</a>
                                            </li>


                                            <li>
                                                <a href="home-restaurant.html">Restaurant</a>
                                            </li>


                                            <li>
                                                <a href="home-music.html">Music</a>
                                            </li>


                                            <li>
                                                <a href="home-event.html">Event
                                                / Seminar</a>
                                            </li>


                                            <li>
                                                <a href="home-architecture.html">Architecture</a>
                                            </li>


                                            <li>
                                                <a href="home-winery.html">Winery</a>
                                                <span class="label">New
                                                !</span>
                                            </li>
                                        </ul>
                                    </li>


                                    <li>
                                        <ul>
                                            <li>
                                                <a href="home-photography.html">Photography</a>
                                            </li>


                                            <li>
                                                <a href="home-photography-2.html">Ken
                                                Burns</a>
                                            </li>


                                            <li>
                                                <a href="home-personal-portfolio.html">Portfolio</a>
                                            </li>


                                            <li>
                                                <a href="home-property.html">Property
                                                Listing</a>
                                            </li>


                                            <li>
                                                <a href="home-resume.html">Resumé</a>
                                            </li>


                                            <li><span class="title">Home
                                            Pages</span>
                                            </li>


                                            <li>
                                                <a href="index.html">Home
                                                Classic</a>
                                            </li>


                                            <li>
                                                <a href="home-default-2.html">Home
                                                Layout 2</a>
                                            </li>


                                            <li>
                                                <a href="home-default-3.html">Home
                                                Layout 3</a>
                                            </li>


                                            <li>
                                                <a href="home-default-4.html">Home
                                                Layout 4</a>
                                            </li>


                                            <li>
                                                <a href="home-default-5.html">Home
                                                Layout 5</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>


                            <li class="has-dropdown">
                                <a href="#">Pages</a>

                                <ul class="mega-menu">
                                    <li>
                                        <ul>
                                            <li><span class="title">Inner
                                            Pages</span>
                                            </li>


                                            <li>
                                                <a href="page-about-us-1.html">About Us
                                                1</a>
                                            </li>


                                            <li>
                                                <a href="page-about-us-2.html">About Us
                                                2</a>
                                            </li>


                                            <li>
                                                <a href="page-about-us-3.html">About Us
                                                3</a>
                                            </li>


                                            <li>
                                                <a href="page-services-1.html">Services
                                                1</a>
                                            </li>


                                            <li>
                                                <a href="page-services-2.html">Services
                                                2</a>
                                            </li>


                                            <li>
                                                <a href="page-services-3.html">Services
                                                3</a>
                                            </li>


                                            <li>
                                                <a href="page-contact-1.html">Contact
                                                1</a>
                                            </li>


                                            <li>
                                                <a href="page-contact-2.html">Contact
                                                2</a>
                                            </li>


                                            <li>
                                                <a href="page-contact-3.html">Planner</a>
                                                <span class="label">New!</span>
                                            </li>
                                        </ul>
                                    </li>


                                    <li>
                                        <ul>
                                            <li><span class="title">Utility
                                            Pages</span>
                                            </li>


                                            <li>
                                                <a href="page-login.html">Login</a>
                                            </li>


                                            <li>
                                                <a href="page-register.html">Register</a>
                                            </li>


                                            <li>
                                                <a href="page-coming-soon.html">Coming
                                                Soon</a>
                                            </li>


                                            <li>
                                                <a href="page-faq.html">FAQ</a>
                                            </li>


                                            <li>
                                                <a href="page-confirmation.html">Confirmation</a>
                                            </li>


                                            <li>
                                                <a href="page-countdown.html">Countdown</a>
                                            </li>


                                            <li>
                                                <a href="page-countdown-2.html">Countdown
                                                2</a>
                                            </li>


                                            <li>
                                                <a href="page-404.html">404 -
                                                Error</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>


                            <li class="has-dropdown">
                                <a href="#">Elements</a>

                                <ul class="mega-menu">
                                    <li>
                                        <ul>
                                            <li><span class="title">Elements</span>
                                            </li>


                                            <li>
                                                <a href="elements-buttons.html"><i class="ti-link">
                                                </i> Buttons</a>
                                            </li>


                                            <li>
                                                <a href="elements-tabs.html"><i class="ti-layout-tab"></i> Tabbed
                                                Content</a>
                                            </li>


                                            <li>
                                                <a href="elements-progress.html"><i class="ti-rocket">
                                                </i> Progress Bars</a>
                                            </li>


                                            <li>
                                                <a href="elements-accordions.html"><i class="ti-layout-accordion-separated">
                                                </i> Accordions</a>
                                            </li>


                                            <li>
                                                <a href="elements-alerts.html"><i class="ti-flag-alt">
                                                </i> Alerts</a>
                                            </li>


                                            <li>
                                                <a href="elements-form-inputs.html"><i class="ti-pencil-alt">
                                                </i> Form Inputs</a>
                                            </li>


                                            <li>
                                                <a href="elements-countdown.html"><i class="ti-alarm-clock">
                                                </i> Countdowns</a>
                                            </li>


                                            <li>
                                                <a href="elements-modals.html"><i class="ti-layout-slider-alt">
                                                </i> Modals</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li>
                                        <ul>
                                            <li><span class="title">Elements</span>
                                            </li>


                                            <li>
                                                <a href="elements-pricing.html"><i class="ti-money">
                                                </i> Pricing Tables</a>
                                            </li>


                                            <li>
                                                <a href="elements-icon-boxes.html"><i class="ti-eye">
                                                </i> Icon Boxes</a>
                                            </li>


                                            <li>
                                                <a href="elements-widgets.html"><i class="ti-layout-media-right">
                                                </i> Widgets</a>
                                            </li>


                                            <li>
                                                <a href="elements-typography.html"><i class="ti-text">
                                                </i> Typography</a>
                                            </li>


                                            <li>
                                                <a href="elements-lists.html"><i class="ti-list"></i> Lists</a>
                                                <span class="label">New!</span>
                                            </li>


                                            <li>
                                                <a href="elements-grid.html"><i class="ti-view-grid"></i> Grid
                                                Structure</a>
                                            </li>


                                            <li>
                                                <a href="elements-textimage.html"><i class="ti-layout-list-large-image">
                                                </i> Text &amp; Image</a>
                                            </li>


                                            <li>
                                                <a href="elements-intros.html"><i class="ti-microphone">
                                                </i> Intro Sections</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li>
                                        <ul>
                                            <li><span class="title">Elements</span>
                                            </li>


                                            <li>
                                                <a href="elements-titles.html"><i class="ti-layout-cta-left">
                                                </i> Titles Left</a>
                                            </li>


                                            <li>
                                                <a href="elements-titles-center.html"><i class="ti-layout-cta-center">
                                                </i> Titles Center</a>
                                            </li>


                                            <li>
                                                <a href="elements-video.html"><i class="ti-video-clapper"></i> Video
                                                Inline</a>
                                            </li>


                                            <li>
                                                <a href="elements-video-bg.html"><i class="ti-video-clapper">
                                                </i> Video BG</a>
                                            </li>


                                            <li>
                                                <a href="elements-video-slider.html"><i class="ti-video-clapper">
                                                </i> Video Slider</a>
                                            </li>


                                            <li>
                                                <a href="elements-galleries.html"><i class="ti-gallery">
                                                </i> Image Galleries</a>
                                            </li>


                                            <li>
                                                <a href="elements-parallax.html"><i class="ti-layers">
                                                </i> Parallax</a>
                                            </li>


                                            <li>
                                                <a href="elements-nav-light.html"><i class="ti-menu-alt">
                                                </i> Nav Styles</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>


                            <li class="has-dropdown">
                                <a href="#">Portfolio</a>

                                <ul>
                                    <li class="has-dropdown">
                                        <a href="#">Contained</a>

                                        <ul>
                                            <li>
                                                <a href="portfolio-grid-2col.html">2
                                                Columns</a>
                                            </li>


                                            <li>
                                                <a href="portfolio-grid.html">3
                                                Columns</a>
                                            </li>


                                            <li>
                                                <a href="portfolio-grid-4col.html">4
                                                Columns</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li class="has-dropdown">
                                        <a href="#">Wide</a>

                                        <ul>
                                            <li>
                                                <a href="portfolio-wide-2col.html">2
                                                Columns</a>
                                            </li>


                                            <li>
                                                <a href="portfolio-wide.html">3
                                                Columns</a>
                                            </li>


                                            <li>
                                                <a href="portfolio-wide-4col.html">4
                                                Columns</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li>
                                        <a href="portfolio-parallax.html">Parallax</a>
                                    </li>


                                    <li class="has-dropdown">
                                        <a href="#">Single</a>

                                        <ul>
                                            <li>
                                                <a href="portfolio-single-1.html">Case
                                                Study 1</a>
                                            </li>


                                            <li>
                                                <a href="portfolio-single-2.html">Case
                                                Study 2</a>
                                            </li>


                                            <li>
                                                <a href="portfolio-single-3.html">Case
                                                Study 3</a>
                                            </li>


                                            <li>
                                                <a href="portfolio-single-4.html">Case
                                                Study 4</a>
                                            </li>


                                            <li>
                                                <a href="portfolio-single-5.html">Case
                                                Study 5</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>


                            <li class="has-dropdown">
                                <a href="#">Shop</a>

                                <ul>
                                    <li class="has-dropdown">
                                        <a href="#">Shop Layout</a>

                                        <ul>
                                            <li>
                                                <a href="shop-sidebar.html">Sidebar
                                                Left</a>
                                            </li>


                                            <li>
                                                <a href="shop-sidebar-right.html">Sidebar
                                                Right</a>
                                            </li>


                                            <li>
                                                <a href="shop-fullwidth-4col.html">4
                                                Columns</a>
                                            </li>


                                            <li>
                                                <a href="shop-fullwidth.html">3
                                                Columns</a>
                                            </li>


                                            <li>
                                                <a href="shop-fullwidth-2col.html">2
                                                Columns</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li class="has-dropdown">
                                        <a href="#">Product Single</a>

                                        <ul>
                                            <li>
                                                <a href="shop-product-sidebar-left.html">
                                                Sidebar Left</a>
                                            </li>


                                            <li>
                                                <a href="shop-product-sidebar.html">Sidebar
                                                Right</a>
                                            </li>


                                            <li>
                                                <a href="shop-product-fullwidth.html">No
                                                Sidebar</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li>
                                        <a href="shop-cart.html">Cart</a>
                                    </li>


                                    <li>
                                        <a href="shop-checkout.html">Checkout</a>
                                    </li>
                                </ul>
                            </li>


                            <li class="has-dropdown">
                                <a href="#">Blog</a>

                                <ul>
                                    <li class="has-dropdown">
                                        <a href="#">Listing</a>

                                        <ul>
                                            <li>
                                                <a href="blog-sidebar.html">Sidebar
                                                Left</a>
                                            </li>


                                            <li>
                                                <a href="blog-sidebar-right.html">Sidebar
                                                Right</a>
                                            </li>


                                            <li>
                                                <a href="blog-no-sidebar.html">No
                                                Sidebar</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li class="has-dropdown">
                                        <a href="#">Masonry</a>

                                        <ul>
                                            <li>
                                                <a href="blog-masonry-sidebar.html">Sidebar
                                                Left</a>
                                            </li>


                                            <li>
                                                <a href="blog-masonry-sidebar-right.html">
                                                Sidebar Right</a>
                                            </li>


                                            <li>
                                                <a href="blog-masonry.html">3
                                                Columns</a>
                                            </li>


                                            <li>
                                                <a href="blog-masonry-2col.html">2
                                                Columns</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li class="has-dropdown">
                                        <a href="#">Single</a>

                                        <ul>
                                            <li>
                                                <a href="blog-single-sidebar.html">Sidebar
                                                Left</a>
                                            </li>


                                            <li>
                                                <a href="blog-single-sidebar-right.html">
                                                Sidebar Right</a>
                                            </li>


                                            <li>
                                                <a href="blog-single-no-sidebar.html">No
                                                Sidebar</a>
                                            </li>


                                            <li>
                                                <a href="blog-single-disqus.html">Disqus
                                                Comments</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li>
                                        <a href="blog-simple-feed.html">Simple
                                        Feed</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--end of menu module-->


                    <div class="module widget-handle search-widget-handle left">
                        <div class="search">
                            <i class="ti-search"></i> <span class="title">Search Site</span>
                        </div>


                        <div class="function">
                            <form class="search-form">
                                <input placeholder="Type Here" type="text">
                            </form>
                        </div>
                    </div>


                    <div class="module widget-handle cart-widget-handle left">
                        <div class="cart">
                            <i class="ti-bag"></i> <span class="label number">2</span> <span class="title">Shopping Cart</span>
                        </div>


                        <div class="function">
                            <div class="widget">
                                <h6 class="title">Shopping Cart</h6>

                                <hr>


                                <ul class="cart-overview">
                                    <li>
                                        <a href="#"><img alt="Product" src="img/shop-widget-1.png">

                                        <div class="description">
                                            <span class="product-title">Canvas
                                            Backpack</span> <span class="price number">$39.90</span>
                                        </div></a>
                                    </li>


                                    <li>
                                        <a href="#"><img alt="Product" src="img/shop-widget-2.png">

                                        <div class="description">
                                            <span class="product-title">Vintage
                                            Camera</span> <span class="price number">$249.50</span>
                                        </div></a>
                                    </li>
                                </ul>

                                <hr>


                                <div class="cart-controls">
                                    <a class="btn btn-sm btn-filled" href="#">Checkout</a>

                                    <div class="list-inline pull-right">
                                        <span class="cart-total">Total:</span>
                                        <span class="number">$289.40</span>
                                    </div>
                                </div>
                            </div>
                            <!--end of widget-->
                        </div>
                    </div>


                    <div class="module widget-handle language left">
                        <ul class="menu">
                            <li class="has-dropdown">
                                <a href="#">ENG</a>

                                <ul>
                                    <li>
                                        <a href="#">French</a>
                                    </li>


                                    <li>
                                        <a href="#">Deutsch</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end of module group-->
            </div>
        </nav>
    </div>


    <div class="main-container">
        <section class="image-bg overlay parallax">
            <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); background: url(file:///Users/kurt/Creative%20Cloud%20Files/templates/Foundry/Foundry%201.7.2/img/cover11.jpg);">
            <img alt="Background Image" class="background-image" src="img/cover11.jpg" style="display: none;">
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3 class="uppercase mb64 mb-xs-32">THE MEMBERSHIP</h3>
                    </div>
                </div>
                <!--end of row-->


                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature feature-1 boxed">
                            <div class="text-center">
                                <i class="ti-crown icon"></i>

                                <h5 class="uppercase mb16">SPORTS POOLS</h5>
                            </div>


                            <p>Sed ut perspiciatis unde omnis iste natus error
                            sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae.</p>
                        </div>
                        <!--end of feature-->
                    </div>


                    <div class="col-sm-4">
                        <div class="feature feature-1 boxed">
                            <div class="text-center">
                                <i class="ti-star icon"></i>

                                <h5 class="uppercase mb16">VIP ACCESS</h5>
                            </div>


                            <p>Sed ut perspiciatis unde omnis iste natus error
                            sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae.</p>
                        </div>
                        <!--end of feature-->
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-1 boxed">
                            <div class="text-center">
                                <i class="ti-medall-alt icon"></i>

                                <h5 class="uppercase mb16">REFERRALS</h5>
                            </div>


                            <p>Sed ut perspiciatis unde omnis iste natus error
                            sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae.</p>
                        </div>
                        <!--end of feature-->
                    </div>

                    <div class="col-sm-4">
                        <div class="feature feature-1 boxed">
                            <div class="text-center">
                                <i class="ti-rocket icon"></i>

                                <h5 class="uppercase mb16">WINNINGS</h5>
                            </div>


                            <p>Sed ut perspiciatis unde omnis iste natus error
                            sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae.</p>
                        </div>
                        <!--end of feature-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>


        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h4 class="uppercase mb16">Time until next pick</h4>


                        <p class="lead mb64">WEEK 2</p>
                    </div>
                </div>
                <!--end of row-->


                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="countdown mb40" data-date="2015/12/01">
                            63 days 02:19:43
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>


        <section class="projects pt48">
            <div class="container">
                <div class="col-sm-12 text-center">
                    <h3 class="uppercase mb64 mb-xs-32">THE EXPERIENCES</h3>
                </div>


                <div class="row pb24">
                    <div class="col-sm-12 text-center">
                        <ul class="filters mb0">
                            <li class="active" data-filter="all">All</li>


                            <li data-filter="People">FOOTBALL</li>


                            <li data-filter="Animals">BASKETBALL</li>


                            <li data-filter="Objects">GOLF</li>
                        <li data-filter="People">RACING</li><li data-filter="People">RETREATS</li></ul>
                    </div>
                </div>
                <!--end of row-->


                <div class="row masonry-loader fadeOut">
                    <div class="col-sm-12 text-center">
                        <div class="spinner">
                        </div>
                    </div>
                </div>


                <div class="row masonry masonryFlyIn fadeIn" style="position: relative; height: 840px;">
                    <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 0px; top: 0px;">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#"><img alt="Pic" src="img/project-single-1.jpg">

                            <div class="title">
                                <h5 class="uppercase mb0">Happy Couple</h5>
                                <span>People / Life</span>
                            </div></a>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Animals" style="position: absolute; left: 390px; top: 0px;">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#"><img alt="Pic" src="img/project-single-2.jpg">

                            <div class="title">
                                <h5 class="uppercase mb0">Lonely Dog</h5>
                                <span>Animals / Art</span>
                            </div></a>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 780px; top: 0px;">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#"><img alt="Pic" src="img/project-single-3.jpg">

                            <div class="title">
                                <h5 class="uppercase mb0">Pondering Blonde</h5>
                                <span>People / Life</span>
                            </div></a>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Objects" style="position: absolute; left: 390px; top: 270px;">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#"><img alt="Pic" src="img/project-single-5.jpg">

                            <div class="title">
                                <h5 class="uppercase mb0">Vintage
                                Typewriter</h5>
                                <span>Objects / Isolated</span>
                            </div></a>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Objects" style="position: absolute; left: 0px; top: 570px;">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#"><img alt="Pic" src="img/project-single-4.jpg">

                            <div class="title">
                                <h5 class="uppercase mb0">Summer Lovin'</h5>
                                <span>Objects / Food</span>
                            </div></a>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 780px; top: 570px;">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#"><img alt="Pic" src="img/project-single-6.jpg">

                            <div class="title">
                                <h5 class="uppercase mb0">Thick Fog</h5>
                                <span>People / Life</span>
                            </div></a>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>


        <footer class="footer-1 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6"><img alt="Logo" class="logo" src="img/logo-light.png">
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">Recent Posts</h6>

                            <hr>


                            <ul class="link-list recent-posts">
                                <li>
                                    <a href="#">Hugging pugs is super
                                    trendy</a> <span class="date">February
                                    <span class="number">14, 2015</span></span>
                                </li>


                                <li>
                                    <a href="#">Spinning vinyl is oh so
                                    cool</a> <span class="date">February
                                    <span class="number">9, 2015</span></span>
                                </li>


                                <li>
                                    <a href="#">Superior theme design by
                                    pros</a> <span class="date">January
                                    <span class="number">27, 2015</span></span>
                                </li>
                            </ul>
                        </div>
                        <!--end of widget-->
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">Latest Updates</h6>

                            <hr>


                            <div class="twitter-feed">
                                <div class="tweets-feed" data-widget-id="492085717044981760" id="tweets-0">
                                    <ul class="slides">
                                        <li>
                                            <div class="user">
                                                <a aria-label="Medium Rare (screen name: mrareweb)" data-scribe="element:user_link" href="https://twitter.com/mrareweb"><img alt="" data-scribe="element:avatar" data-src-2x="https://pbs.twimg.com/profile_images/588890128409473024/6mECDeLZ_bigger.png" src="https://pbs.twimg.com/profile_images/588890128409473024/6mECDeLZ_normal.png">
                                                <span><span data-scribe="element:name">Medium
                                                Rare</span></span>
                                                <span data-scribe="element:screen_name">@mrareweb</span></a>
                                            </div>


                                            <p class="tweet">Machine has been
                                            given an overhaul! Check out
                                            <a data-expanded-url="http://machine.mediumra.re" data-scribe="element:url" href="http://t.co/pww2LSncaw" target="_blank" title="http://machine.mediumra.re"><span>http://</span><span>machine.mediumra.re</span><span></span><span><span>&nbsp;</span></span></a>
                                            to see what's new!</p>


                                            <p class="timePosted">Posted on 25
                                            Sep</p>


                                            <p class="interact"><a class="twitter_reply_icon" href="https://twitter.com/intent/tweet?in_reply_to=647299851093344257">
                                            Reply</a><a class="twitter_retweet_icon" href="https://twitter.com/intent/retweet?tweet_id=647299851093344257">Retweet</a><a class="twitter_fav_icon" href="https://twitter.com/intent/favorite?tweet_id=647299851093344257">Favorite</a>
                                            </p>
                                        </li>


                                        <li>
                                            <div class="user">
                                                <a aria-label="Medium Rare (screen name: mrareweb)" data-scribe="element:user_link" href="https://twitter.com/mrareweb"><img alt="" data-scribe="element:avatar" data-src-2x="https://pbs.twimg.com/profile_images/588890128409473024/6mECDeLZ_bigger.png" src="https://pbs.twimg.com/profile_images/588890128409473024/6mECDeLZ_normal.png">
                                                <span><span data-scribe="element:name">Medium
                                                Rare</span></span>
                                                <span data-scribe="element:screen_name">@mrareweb</span></a>
                                            </div>


                                            <p class="tweet">Cheers
                                            <a data-scribe="element:mention" href="https://twitter.com/StewartWadden">
                                            @StewartWadden</a> , thanks for
                                            alerting us! We're rectifying this
                                            now :)</p>


                                            <p class="timePosted">Posted on 17
                                            Sep</p>


                                            <p class="interact"><a class="twitter_reply_icon" href="https://twitter.com/intent/tweet?in_reply_to=644631798547382272">
                                            Reply</a><a class="twitter_retweet_icon" href="https://twitter.com/intent/retweet?tweet_id=644631798547382272">Retweet</a><a class="twitter_fav_icon" href="https://twitter.com/intent/favorite?tweet_id=644631798547382272">Favorite</a>
                                            </p>
                                        </li>


                                        <li>
                                            <div class="user">
                                                <a aria-label="Medium Rare (screen name: mrareweb)" data-scribe="element:user_link" href="https://twitter.com/mrareweb"><img alt="" data-scribe="element:avatar" data-src-2x="https://pbs.twimg.com/profile_images/588890128409473024/6mECDeLZ_bigger.png" src="https://pbs.twimg.com/profile_images/588890128409473024/6mECDeLZ_normal.png">
                                                <span><span data-scribe="element:name">Medium
                                                Rare</span></span>
                                                <span data-scribe="element:screen_name">@mrareweb</span></a>
                                            </div>


                                            <p class="tweet">True
                                            <a data-scribe="element:mention" href="https://twitter.com/mvrhd">@mvrhd</a>,
                                            you're right - we mean that there
                                            is no FTP required to get
                                            started... We'll fix that now
                                            :)</p>


                                            <p class="timePosted">Posted on 10
                                            Sep</p>


                                            <p class="interact"><a class="twitter_reply_icon" href="https://twitter.com/intent/tweet?in_reply_to=642115514441961472">
                                            Reply</a><a class="twitter_retweet_icon" href="https://twitter.com/intent/retweet?tweet_id=642115514441961472">Retweet</a><a class="twitter_fav_icon" href="https://twitter.com/intent/favorite?tweet_id=642115514441961472">Favorite</a>
                                            </p>
                                        </li>


                                        <li>
                                            <div class="user">
                                                <a aria-label="Medium Rare (screen name: mrareweb)" data-scribe="element:user_link" href="https://twitter.com/mrareweb"><img alt="" data-scribe="element:avatar" data-src-2x="https://pbs.twimg.com/profile_images/588890128409473024/6mECDeLZ_bigger.png" src="https://pbs.twimg.com/profile_images/588890128409473024/6mECDeLZ_normal.png">
                                                <span><span data-scribe="element:name">Medium
                                                Rare</span></span>
                                                <span data-scribe="element:screen_name">@mrareweb</span></a>
                                            </div>


                                            <p class="tweet">Static sites
                                            taking waaaay too long to load?
                                            It's probably your huge images!
                                            Speed up with our optimisation
                                            guide: <a data-expanded-url="https://goo.gl/0E8phg" data-scribe="element:url" href="https://t.co/oj2ZySeGuE" target="_blank" title="https://goo.gl/0E8phg"><span>https://</span><span>goo.gl/0E8phg</span><span></span><span><span>&nbsp;</span></span></a></p>


                                            <p class="timePosted">Posted on 10
                                            Sep</p>


                                            <p class="interact"><a class="twitter_reply_icon" href="https://twitter.com/intent/tweet?in_reply_to=641769717611429889">
                                            Reply</a><a class="twitter_retweet_icon" href="https://twitter.com/intent/retweet?tweet_id=641769717611429889">Retweet</a><a class="twitter_fav_icon" href="https://twitter.com/intent/favorite?tweet_id=641769717611429889">Favorite</a>
                                            </p>
                                        </li>


                                        <li>
                                            <div class="user">
                                                <a aria-label="Medium Rare (screen name: mrareweb)" data-scribe="element:user_link" href="https://twitter.com/mrareweb"><img alt="" data-scribe="element:avatar" data-src-2x="https://pbs.twimg.com/profile_images/588890128409473024/6mECDeLZ_bigger.png" src="https://pbs.twimg.com/profile_images/588890128409473024/6mECDeLZ_normal.png">
                                                <span><span data-scribe="element:name">Medium
                                                Rare</span></span>
                                                <span data-scribe="element:screen_name">@mrareweb</span></a>
                                            </div>


                                            <p class="tweet">Have you seen the
                                            amazing Foundry theme for
                                            <a data-scribe="element:hashtag" href="https://twitter.com/hashtag/WordPress?src=hash">
                                            #WordPress</a> yet? Available now
                                            on Envato Market:
                                            <a data-expanded-url="http://goo.gl/OTqo9P" data-scribe="element:url" href="http://t.co/LlKxARuiil" target="_blank" title="http://goo.gl/OTqo9P"><span>http://</span><span>goo.gl/OTqo9P</span><span></span><span><span>&nbsp;</span></span></a></p>


                                            <p class="timePosted">Posted on 03
                                            Sep</p>


                                            <p class="interact"><a class="twitter_reply_icon" href="https://twitter.com/intent/tweet?in_reply_to=639314439368372225">
                                            Reply</a><a class="twitter_retweet_icon" href="https://twitter.com/intent/retweet?tweet_id=639314439368372225">Retweet</a><a class="twitter_fav_icon" href="https://twitter.com/intent/favorite?tweet_id=639314439368372225">Favorite</a>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--end of widget-->
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">Instagram</h6>

                            <hr>


                            <div class="instafeed" data-user-name="funsizeco">
                                <ul>
                                    <li>
                                        <a href="https://instagram.com/p/78CbRBFqwa/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11809877_870593269704199_1442973983_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/7v9Yr1Fq73/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e35/11337204_1050603191639522_1460940158_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/7tNREGlq_K/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e35/11820561_1496225700676867_1357868327_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/7ZRDtJFq0T/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e35/11887032_751352478326424_1947475242_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/6qtIeCFq0x/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11356982_1698392413726091_784049257_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/6oC76Alq_g/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e35/11373867_842655235850202_1993445742_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/6YDXM7lqyF/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11809841_1461580747502400_1111452488_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/6Wy-Z-lq6u/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e35/11375839_1486519958312598_1377755433_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/57afb8lq-W/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11429561_458849394240283_2082962259_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/5h4nRfFq8s/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11410463_1638598376397014_1991760111_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/5hrJIIFqwE/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11325737_901013343267885_2137813311_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/5an-5ilq4m/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11247032_673400462795160_1761589387_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/78CbRBFqwa/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11809877_870593269704199_1442973983_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/7v9Yr1Fq73/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e35/11337204_1050603191639522_1460940158_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/7tNREGlq_K/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e35/11820561_1496225700676867_1357868327_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/7ZRDtJFq0T/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e35/11887032_751352478326424_1947475242_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/6qtIeCFq0x/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11356982_1698392413726091_784049257_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/6oC76Alq_g/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e35/11373867_842655235850202_1993445742_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/6YDXM7lqyF/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11809841_1461580747502400_1111452488_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/6Wy-Z-lq6u/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e35/11375839_1486519958312598_1377755433_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/57afb8lq-W/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11429561_458849394240283_2082962259_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/5h4nRfFq8s/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11410463_1638598376397014_1991760111_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/5hrJIIFqwE/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11325737_901013343267885_2137813311_n.jpg"></a>
                                    </li>


                                    <li>
                                        <a href="https://instagram.com/p/5an-5ilq4m/" target="_blank" title="Pic"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11247032_673400462795160_1761589387_n.jpg"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end of widget-->
                    </div>
                </div>
                <!--end of row-->


                <div class="row">
                    <div class="col-sm-6">
                        <span class="sub">© Copyright 2015 - Medium Rare</span>
                    </div>


                    <div class="col-sm-6 text-right">
                        <ul class="list-inline social-list">
                            <li>
                                <a class="ti-twitter-alt" href="#" style="font-style: italic"></a>
                            </li>


                            <li>
                                <a class="ti-facebook" href="#" style="font-style: italic"></a>
                            </li>


                            <li>
                                <a class="ti-dribbble" href="#" style="font-style: italic"></a>
                            </li>


                            <li>
                                <a class="ti-vimeo-alt" href="#" style="font-style: italic"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end of container-->
            <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
        </footer>
    </div>
    <script async="" src="//www.google-analytics.com/analytics.js"></script><script src="js/jquery.min.js"></script> <script src="js/bootstrap.min.js"></script> <script src="js/flickr.js"></script> <script src="js/flexslider.min.js"></script> <script src="js/lightbox.min.js"></script> <script src="js/masonry.min.js"></script> <script src="js/twitterfetcher.min.js"></script> <script src="js/spectragram.min.js"></script> <script src="js/ytplayer.min.js"></script> <script src="js/countdown.min.js"></script> <script src="js/smooth-scroll.min.js"></script> <script src="js/parallax.js"></script> <script src="js/scripts.js"></script>

    <div class="lightboxOverlay" id="lightboxOverlay" style="display: none;">
    </div>


    <div class="lightbox" id="lightbox" style="display: none;">
        <div class="lb-outerContainer">
            <div class="lb-container">
                <img class="lb-image" src="">

                <div class="lb-nav">
                    <a class="lb-prev" href=""></a><a class="lb-next" href=""></a>
                </div>


                <div class="lb-loader">
                    <a class="lb-cancel"></a>
                </div>
            </div>
        </div>


        <div class="lb-dataContainer">
            <div class="lb-data">
                <div class="lb-details">
                    <span class="lb-caption"></span><span class="lb-number"></span>
                </div>


                <div class="lb-closeContainer">
                    <a class="lb-close"></a>
                </div>
            </div>
        </div>
    </div>


    <div class="lightboxOverlay" id="lightboxOverlay">
    </div>


    <div class="lightbox" id="lightbox">
        <div class="lb-outerContainer">
            <div class="lb-container">
                <img class="lb-image" src="">

                <div class="lb-nav">
                    <a class="lb-prev" href=""></a><a class="lb-next" href=""></a>
                </div>


                <div class="lb-loader">
                    <a class="lb-cancel"></a>
                </div>
            </div>
        </div>


        <div class="lb-dataContainer">
            <div class="lb-data">
                <div class="lb-details">
                    <span class="lb-caption"></span><span class="lb-number"></span>
                </div>


                <div class="lb-closeContainer">
                    <a class="lb-close"></a>
                </div>
            </div>
        </div>
    </div>


</body></html>
