<section id="ambassador-console">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="uppercase mb24">AMBASSADOR CONSOLE</h4>
        <div class="tabbed-content button-tabs vertical">
          <ul class="tabs">
            <!-- Dashboard -->
            <li id="dashboard" class="active">
              <div class="tab-title">
                <span>DASHBOARD</span>
              </div>
              <div class="tab-content">
                <h5 class="uppercase">Let's Talk Your Numbers</h5>
                <hr>
                <p>
                  Determine what may be useful/possible here
                </p>
              </div>
            </li>
            <!-- /Dashboard -->

            <!-- Spread the Word -->
            <li id="spread-the-word">
              <div class="tab-title">
                <span>Spread the Word</span>
              </div>
              <div class="tab-content">
                <h5 class="uppercase">Send Invites By Email Or Text</h5>
                <hr>
                <p>
                  <div class="row" >
                    <div class="col-md-12 col-sm-12 text-center">
                      <div class="row">

                        <%= form_tag send_referrals_path do %>
                        <!-- Email-Referrals -->
                        <div class="col-md-6">
                          <div class="tab-title">
                            <i class="icon fa fa-envelope-o"></i>
                            <span>E-mail</span>
                          </div>
                          <%= text_field_tag :email_refers, '', id:'tags_email_refers' %>
                        </div>
                        <!-- /Email-Referrals -->

                        <!-- Phone-Referrals -->
                        <div class="col-md-6">
                          <div class="tab-title">
                            <i class="icon fa fa-mobile"></i>
                            <span>TEXT</span>
                          </div>
                          <%= text_field_tag :text_refers, '', id:'tags_text_refers' %>
                        </div>
                        <!-- /Phone-Referrals -->

                        <p class="help-block">Enter The Email Addresses or Phone Numbers You'd Like To Invite</p>

                        <div class="col-md-12">
                          <%= submit_tag "Invite" %>
                        </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </p>
              </div>
            </li>
            <!-- /Spread the Word -->

            <!-- My People -->
            <li id="my-people">
              <div class="tab-title">
                <span>MY PEOPLE</span>
              </div>
              <div class="tab-content">
                <h5 class="uppercase">Prospects & Successes</h5>
                <hr>
                <p>
                  <div class="row">
                    <!-- Prospects -->
                    <div class="col-md-6">
                      <div class="widget">
                        <h6 class="title text-center">Prospects</h6>
                        <hr>
                        <ul class="prospect accordion accordion-2">
                          <%- @child_prospects.each do |cp| %>
                            <li>
                              <div class="title">
                                <span id="child-title-<%= cp.id %>"><%= display_child_label(cp) %></span>
                              </div>
                              <div id="child-<%= cp.id %>" class="content">
                                <%= render partial: 'ambassadors/prospect', locals: { child: cp } %>
                              </div>
                            </li>
                          <% end -%>
                        </ul>
                      </div>
                    </div>
                    <!-- /Prospects -->

                    <!-- Successes -->
                    <div class="col-md-6">
                      <div class="widget">
                        <h6 class="title text-center">Successes</h6>
                        <hr>
                        <ul class="success accordion accordion-2">
                          <%- @child_successes.each do |cs| %>
                            <li>
                              <div class="title">
                                <span><%= cs.full_name %></span>
                              </div>
                              <div id="child-<%= cs.id %>" class="content">
                                <%= render partial: 'ambassadors/success', locals: { child: cs } %>
                              </div>
                            </li>
                          <% end -%>
                        </ul>
                      </div>
                    </div>
                    <!-- /Successes -->
                  </div>
                </p>
              </div>
            </li>
            <!-- /My People -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
