<style>
  section.overlay.cover.fullscreen {
    min-height:500px!important;
  }

  .input-control {
    margin-bottom: 5px!important;
  }
</style>

<section class="cover fullscreen image-bg overlay">
  <div class="background-image-holder">
    <%= image_tag "home-2-9.jpg", class:"background-image", alt:"image" %>
  </div>
  <div class="container v-align-transform">
    <div class="row">
      <section>
        <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
          <div class="feature bordered text-center">
            <h4 class="uppercase">Change Your Password</h4>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'text-left', method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>

              <%= f.password_field :password, placeholder: "New Password", class:"input-control", autofocus: true, autocomplete: "off" %>
              <%= f.password_field :password_confirmation, placeholder: "Confirm New Password", autocomplete: "off" %>


              <%= f.submit "Change My Password" %>

              <hr />
              <%= render "accounts/shared/links" %>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
