<div class="nav-container">
  <nav>
    <div class="nav-bar">
      <div class="module left">
        <%= link_to root_path, 'data-no-turbolink': true do %>
          <%= image_tag 'logo-light.png', class: 'logo logo-light', alt: 'Foundry' %>
          <%= image_tag 'logo-dark.png', class: 'logo logo-dark', alt: 'Foundry' %>
        <% end %>
      </div>
      <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        <i class="ti-menu"></i>
      </div>
      <div class="module-group right">
        <div class="module left">
          <ul class="menu">
            <li>
              <a href="#">THE MEMBERSHIP</a>
            </li><li>
              <%= link_to "MY PROFILE", home_page_path, 'data-no-turbolink': true %>
            </li><li>
              <a href="#"> </a>
            </li>
          </ul>
        </div>

        <div class="module widget-handle left">
          <ul class="menu">
            <li class="has-dropdown">
              <a href="#"><%= current_account.meta.full_name %></a>
              <ul>
                <li>
                  <%= link_to edit_account_registration_path do %>
                    <i class="ti ti-settings" style="font-size:11px"></i>
                    SETTINGS
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_account_session_path, method: :delete do %>
                    <i class="ti ti-close" style="font-size:11px"></i>
                    LOGOUT
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
