<%= content_for :header do %>

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<%= stylesheet_link_tag "slider-revolution/css/extralayers.css", media:"screen", 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag "slider-revolution/css/settings.css", media:"screen", 'data-turbolinks-track' => true %>

<% end %>

<div class="wrapper" id="home">
  <!--slider revolution start-->
  <!--hero section-->

  <!--body content start-->
  <section class="body-content">
    <!--team-->

    <div class="fun-factor-parallax dark full-width float-left banner-para2">
      <div class="container p-tb-150">
        <div class="row">
          <div class="col-md-4">
            <div class="fun-factor">
              <div class="icon">
                <i class="icon-happy"></i>
              </div>
              <div class="fun-info">
                <h1 class="timer" data-from="0" data-to="36" data-speed="1000">36</h1>
                <span>CLIENTS handled</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="fun-factor">
              <div class="icon">
                <i class="icon-flag"></i>
              </div>
              <div class="fun-info">
                <h1 class="timer" data-from="0" data-to="29" data-speed="1000">29</h1>
                <span>Project Completed</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="fun-factor">
              <div class="icon">
                <i class="icon-ribbon"></i>
              </div>
              <div class="fun-info">
                <h1 class="timer" data-from="0" data-to="17" data-speed="1000">17</h1>
                <span>Design Award Won</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-content" id="feature">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="featured-item text-left m-bot-50 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
              <div class="number">
                +7.5
              </div>
              <div class="title text-uppercase">
                <h4>EAGLES</h4>
              </div>
              <div class="desc">
                Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente.
              </div>
            </div>
            <div class="featured-item text-left m-bot-50 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
              <div class="number">
                02
              </div>
              <div class="title text-uppercase">
                <h4>GIANTS</h4>
              </div>
              <div class="desc">
                Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
              </div>
            </div>
            <div class="featured-item text-left wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
              <div class="number">
                03
              </div>
              <div class="title text-uppercase">
                <h4>CHUCK NORRIS</h4>
              </div>
              <div class="desc">
                Augue at maximus Pellentesque eu quam sem, ac malesuada leo sem quam pellente. vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
              </div>
            </div>
            <div class="m-top-10 inline-block">
              <a href="#" class="btn btn-medium btn-dark-solid btn-rounded "> GET LIVE GAME UPDATES ON PICKS</a>
              <a href="#" class="btn btn-medium btn-dark-border btn-rounded "> SHARE MY PICKS FOR THIS WEEK</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--feature-->

    <!--fun factor-->

    <section class="body-content page-content">
      <div class="text-center">
        <ul class="portfolio-filter">
          <li class="active"><a href="#" data-filter="*" class="current"> All</a></li>
          <li class=""><a href="#" data-filter=".cat1" class="current">printing</a></li>
          <li class=""><a href="#" data-filter=".cat2" class="current">Web</a></li>
          <li><a href="#" data-filter=".cat3">illustration</a></li>
          <li><a href="#" data-filter=".cat4">media</a></li>
          <li><a href="#" data-filter=".cat5">crafts</a></li>
        </ul>
      </div>

      <div class="portfolio portfolio-with-title col-6" style="position: relative; height: 584.578px;">
        <div class="portfolio-item cat1 cat3 " style="">
          <div class="thumb">
            <%= image_tag "portfolio/01.jpg" %>
            <div class="portfolio-hover">
              <div class="action-btn">
                <a href="<%= asset_path('portfolio/01.jpg') %>" class="popup-link" title="lightbox view">
                  <i class="icon-basic_magnifier"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="portfolio-title">
            <h4>
              <a href="<%= asset_path('portfolio/01.jpg') %>" class="popup-link" title="lightbox view">lightbox view</a>
            </h4>
            <p><a href="#">category 1</a> , <a href="#">category 3</a> </p>
          </div>
        </div>

        <div class="portfolio-item cat2 cat4" style="">
          <div class="thumb">
            <%= image_tag "portfolio/02.jpg" %>
            <div class="portfolio-hover">
              <div class="action-btn">
                <a href="portfolio-single.html"> <i class="icon-basic_link"></i>  </a>
              </div>
            </div>
          </div>
          <div class="portfolio-title">
            <h4><a href="#">External link</a></h4>
            <p><a href="#">category 2</a> , <a href="#">category 4</a> </p>
          </div>
        </div>

        <div class="portfolio-item cat1 cat2" style="">
          <div class="thumb">
            <div class="portfolio-slider">
              <div class="flex-viewport" style="overflow: hidden; position: relative; height: 173px;">
                <ul class="slides" style="height: 1200%; position: absolute; width: 100%; transition-duration: 0.6s; transform: translate3d(0px, -346px, 0px);">
                  <li class="clone" aria-hidden="true" style="display: block;">
                    <a href="img/portfolio/07c.jpg" title="Amazing Theme">
                      <%= image_tag "portfolio/07c.jpg", draggable: false %>
                    </a>
                  </li>
                  <li class="" style="display: block;">
                    <a href="img/portfolio/07.jpg" title="Freshness Photo">
                      <%= image_tag "portfolio/07.jpg", draggable: false %>
                    </a>
                  </li>
                  <li style="display: block;" class="flex-active-slide">
                    <a href="img/portfolio/07a.jpg" title="Awesome Lightbox">
                      <%= image_tag "portfolio/07a.jpg", draggable: false %>
                    </a>
                  </li>
                  <li style="display: block;" class="">
                    <a href="img/portfolio/07b.jpg" title="Massive UI Components">
                      <%= image_tag "portfolio/07b.jpg", draggable: false %>
                    </a>
                  </li>
                  <li style="display: block;" class="">
                    <a href="img/portfolio/07c.jpg" title="Amazing Theme">
                      <%= image_tag "portfolio/07c.jpg", draggable: false %>
                    </a>
                  </li>
                  <li class="clone" aria-hidden="true" style="display: block;">
                    <a href="img/portfolio/07.jpg" title="Freshness Photo">
                      <%= image_tag "portfolio/07.jpg", draggable: false %>
                    </a>
                  </li>
                </ul>
              </div>
              <ol class="flex-control-nav flex-control-paging">
                <li>
                  <a class="">1</a>
                </li>
                <li>
                  <a class="flex-active">2</a>
                </li>
                <li>
                  <a class="">3</a>
                </li>
                <li>
                  <a class="">4</a>
                </li>
              </ol>
              <ul class="flex-direction-nav">
                <li class="flex-nav-prev">
                  <a class="flex-prev" href="#">Previous</a>
                </li>
                <li class="flex-nav-next">
                  <a class="flex-next" href="#">Next</a>
                </li>
              </ul>
            </div>
            <div class="portfolio-hover">
              <div class="action-btn">
                <a href="#"> <i class="icon-basic_magnifier"></i>  </a>
              </div>
            </div>
          </div>
          <div class="portfolio-title">
            <h4><a href="#">lightbox Gallary</a></h4>
            <p><a href="#">category 1</a> , <a href="#">category 2</a> </p>
          </div>
        </div>
      </div>
    </section>
    <!--contact-->

    <li class="">
      <a href="#home">POOLS</a>
      <li class="EXPERIENCES">

      </li>
    </li>
  </section>
  <!--body content end-->

  <!-- Placed js at the end of the document so the pages load faster -->
  <%= content_for :js_includes do %>
    <%= javascript_include_tag 'menuzord', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery.flexslider-min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'owl.carousel.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery.isotope', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'imagesloaded', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery.magnific-popup.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery.countTo', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'visible', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'smooth', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'wow.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'slider-revolution/js/jquery.themepunch.tools.min.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'slider-revolution/js/jquery.themepunch.revolution.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'imagesloaded', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery.nav', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'scripts', 'data-turbolinks-track' => true %>
  <% end %>

  <!-- SLIDER REVOLUTION INIT  -->
  <script type="text/javascript">
  jQuery(document).ready(function() {

    jQuery('.tp-banner').show().revolution(
      {
        dottedOverlay:"none",
        delay:8000,
        // startwidth:1170,
        startheight:600,
        hideThumbs:200,

        thumbWidth:100,
        thumbHeight:50,
        thumbAmount:5,

        navigationType:"bullet",
        navigationArrows:"solo",
        navigationStyle:"preview4",

        touchenabled:"on",
        onHoverStop:"on",

        swipe_velocity: 0.7,
        swipe_min_touches: 1,
        swipe_max_touches: 1,
        drag_block_vertical: false,

        parallax:"mouse",
        parallaxBgFreeze:"on",
        parallaxLevels:[7,4,3,2,5,4,3,2,1,0],

        keyboardNavigation:"off",

        navigationHAlign:"center",
        navigationVAlign:"bottom",
        navigationHOffset:0,
        navigationVOffset:20,

        soloArrowLeftHalign:"left",
        soloArrowLeftValign:"center",
        soloArrowLeftHOffset:20,
        soloArrowLeftVOffset:0,

        soloArrowRightHalign:"right",
        soloArrowRightValign:"center",
        soloArrowRightHOffset:20,
        soloArrowRightVOffset:0,

        shadow:0,
        fullWidth:"on",
        // autoHeight:"on",
        fullScreen:"off",

        spinner:"spinner4",

        stopLoop:"off",
        stopAfterLoops:-1,
        stopAtSlide:-1,

        shuffle:"off",

        autoHeight:"off",
        forceFullWidth:"off",

        hideThumbsOnMobile:"off",
        hideNavDelayOnMobile:1500,
        hideBulletsOnMobile:"off",
        hideArrowsOnMobile:"off",
        hideThumbsUnderResolution:0,

        hideSliderAtLimit:0,
        hideCaptionAtLimit:0,
        hideAllCaptionAtLilmit:0,
        startWithSlide:0,
        videoJsPath:"slider-revolution/videojs/",
        fullScreenOffsetContainer: ""
      });

    }); //ready
  </script>

  <a id="tb-scroll-to-top" data-scroll="" class="tb-scroll-to-top-show" href="#">
    <i class="fa fa-angle-up"></i>
  </a>
</div>
