<%= content_for :head do %>
  <%= stylesheet_link_tag 'jquery.tagsinput/jquery.tagsinput.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'ambassadors', 'data-turbolinks-track' => true %>
<% end %>

<section id="my-account" class="pb0">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
        <h4 class="uppercase mb24">MY ACCOUNT</h4>
        <div class="tabbed-content text-tabs">
          <ul class="tabs">
            <li class="active">
              <div class="tab-title">
                <span>This Week</span>
              </div>
              <div class="tab-content">
                <!-- expositions -->
                <%= current_week.expositions.each do |expo| %>
                <% end %>
                <div class="row mb40">
                  <!-- home team -->
                  <div class="col-md-6 home-team animated">
                    <span class="number">+7.5</span>
                    <h4 class="text-uppercase mb8">EAGLES</h4>
                    <p>
                      Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente.
                    </p>
                  </div>
                  <!-- /home team -->
                  <!-- away team -->
                  <div class="col-md-6 away-team animated">
                    <span class="number">+7.5</span>
                    <h4 class="text-uppercase mb8">EAGLES</h4>
                    <p>
                      Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente.
                    </p>
                  </div>
                  <!-- /away team -->
                </div>

                <div class="row mb40">
                  <!-- home team -->
                  <div class="col-md-6 home-team animated">
                    <span class="number">+7.5</span>
                    <h4 class="text-uppercase mb8">EAGLES</h4>
                    <p>
                      Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente.
                    </p>
                  </div>
                  <!-- /home team -->
                  <!-- away team -->
                  <div class="col-md-6 away-team animated">
                    <span class="number">+7.5</span>
                    <h4 class="text-uppercase mb8">EAGLES</h4>
                    <p>
                      Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente.
                    </p>
                  </div>
                  <!-- /away team -->
                </div>
              </div>
            </li>
            <li>
              <div class="tab-title">
                <span>COMMUNICATION</span>
              </div>
              <div class="tab-content">
                <p>
                  Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                </p>
              </div>
            </li>
            <li>
              <div class="tab-title">
                <span>PAYMENT</span>
              </div>
              <div id="payment" class="tab-content">
                <p class="mb8">
                  <u>Current Account:</u>
                  <%- if @stripe_bank_account %>
                    <span class="bank-last4"><%= "XXXX#{@stripe_bank_account.last4}" %></span>
                     with
                    <span class="bank-name"><%= @stripe_bank_account.bank_name %></span>
                  <% else %>
                    Bank Account Not Set (you will be unable to collect compensation)
                  <% end -%>
                </p>
                <%= form_tag update_bank_account_path(id: current_account.id), method: :patch do %>
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                      <p class="bank-errors bg-danger mb0"></p>
                      <div class="row mt8">
                        <div class="col-md-6">
                          <%= text_field_tag :routing_number, nil, placeholder: 'Routing Number', 'data-stripe': 'routing_number', class:'input-control' %>
                        </div>
                        <div class="col-md-6">
                          <%= text_field_tag :account_number, nil, placeholder: 'Account Number', 'data-stripe': 'account_number', class:'input-control' %>
                        </div>
                      </div>
                      <%= hidden_field_tag :country, 'US', 'data-stripe': 'country' %>
                      <%= hidden_field_tag :currency, 'USD', 'data-stripe': 'currency' %>
                      <div class="col-md-6 col-md-offset-3 mt16">
                        <%= button_tag(type: 'submit') do %>
                          <i class="fa fa-bank">
                            <span class="bank-btn"><%= @stripe_bank_account ? " Edit " : " Add " %></span>
                            Bank Account
                          </i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
                <p class="help-block mb8">
                  Enter Your Bank Account Info In Order To Recieve Compensation For Your Referrals.
                </p>
              </div>
            </li>
            <li>
              <div class="tab-title">
                <span>PREFERENCES</span>
              </div>
              <div class="tab-content">
                <p>
                  Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<%- if @ambassador %>
  <%= render partial: 'ambassadors/console' %>
<% end -%>


<!--
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h6 class="uppercase">About Foundry</h6>
        <hr class="mb160 mb-xs-24">
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <h1 class="thin">Investing in innovative technology companies since '88</h1>
      </div>
    </div>

    <div class="row mb160 mb-xs-0">
      <div class="col-md-6 col-sm-8">
        <p class="lead">
          Foundry partners with passionate entrepreneurs and startups to build enduring, era-defining companies that define their categories.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 mb-xs-24">
        <h1 class="large color-primary mb0">140+</h1>
        <h5 class="color-primary mb0">Profitable M&amp;A Ventures</h5>
      </div>
      <div class="col-sm-4 mb-xs-24">
        <h1 class="large color-primary mb0">$1.2b+</h1>
        <h5 class="color-primary mb0">Capital Invested</h5>
      </div>
      <div class="col-sm-4">
        <h1 class="large color-primary mb0">4/5</h1>
        <h5 class="color-primary mb0">Companies Yielding Profit</h5>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-sm-6 col-md-5">
        <h2 class="uppercase color-primary">The Perfect Place To Call Home</h2>
        <hr>
        <p>
          Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
      <div class="col-sm-6 col-md-offset-1 p0">
        <div class="col-sm-6 text-center">
          <div class="feature bordered mb30">
            <h1 class="large uppercase">5</h1>
            <h5 class="uppercase">Bedrooms</h5>
          </div>
        </div>

        <div class="col-sm-6 text-center">
          <div class="feature bordered mb30">
            <h1 class="large">2</h1>
            <h5 class="uppercase">Living</h5>
          </div>
        </div>

        <div class="col-sm-6 text-center">
          <div class="feature bordered mb30">
            <h1 class="large">4</h1>
            <h5 class="uppercase">Bathroom</h5>
          </div>
        </div>

        <div class="col-sm-6 text-center">
          <div class="feature bordered mb30">
            <h1 class="large">3</h1>
            <h5 class="uppercase">Parking</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h4 class="uppercase">Diversity &amp; Difference</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        </p>
      </div>
      <div class="col-sm-7">
        <h4 class="uppercase">Service Spread</h4>
        <div class="progress-bars">
          <div class="progress progress-1">
            <div class="progress-bar" data-progress="90">
              <span class="title">Branding</span>
            </div>
          </div>

          <div class="progress progress-1">
            <div class="progress-bar" data-progress="70">
              <span class="title">E-Commerce</span>
            </div>
          </div>

          <div class="progress progress-1">
            <div class="progress-bar" data-progress="60">
              <span class="title">Websites</span>
            </div>
          </div>

          <div class="progress progress-1">
            <div class="progress-bar" data-progress="50">
              <span class="title">iOS Apps</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->

<%= content_for :js_includes do %>
  <%= javascript_include_tag 'flexslider.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'lightbox.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'masonry.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'twitterfetcher.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'spectragram.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ytplayer.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'countdown.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'smooth-scroll.min.js', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'parallax.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'scripts.js', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'jquery.tagsinput/jquery.tagsinput.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", 'data-turbolinks-track' => true %>

  <script>
    var ready = function() {
      'use strict';
      $('#tags_email_refers').tagsInput({
        width: '100%',
        defaultText: 'add email',
        removeTitle: 'Remove Email',
        inputReferType: 'email',
      });

      $('#tags_text_refers').tagsInput({
        width: '100%',
        defaultText: 'add phone',
        removeTitle: 'Remove Phone',
        inputReferType: 'phone',
      });

      $('div.home-team').addClass('fadeInLeft');
      $('div.away-team').addClass('fadeInRight');
    };

    $('document').ready(ready);

    Stripe.setPublishableKey("<%= Rails.application.secrets.stripe_publishable_key %>");

    function stripeResponseHandler(status, response) {
      var $form = $('#payment > form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.bank-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // response contains id and bank_account, which contains additional bank account details
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripe_bank_token" />').val(token));
        $("[data-stripe]").remove(); // remove stripe data from params
        // and submit
        $form.get(0).submit();
      }

      return false;
    };

    $('body').on('submit', '#payment > form', function (event) {
      event.preventDefault();

      var $form;
      $form = $(this);
      $form.find('button').prop("disabled", true);
      if ( $form.find('#country').val() == 'US' && $form.find('#currency').val() == 'USD' ) {
        Stripe.bankAccount.createToken($form, stripeResponseHandler);
      } else {
        console.log('Fuck Off');
      }

      return false;
    });

  </script>
<% end %>
